<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Angular JS Hexagonal Grid by Connor @ connorstansfield.com</title>
    <meta name="description" content="Angular JS Hexagonal Grid by Connor @ connorstansfield.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://use.typekit.net/wnq7ptb.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
    <div class="hex-map-visualisation">
        <div class="visual-map" ng-app="myApp" ng-controller="myController" id="myController">
            <h1 class="" id="visual-title">How Britain voted in the EU referendum</h1>
            <div class="visual-information">
                <div class="title-sections">
                    <div class="target topLeft">
                        <h1 class="">{{viewable.area}}</h1>
                        <div class="target-figures"></div>
                    </div>
                </div>
                <div class="title-sections">
                    <div class="target topRight">
                        <h1 class="">{{viewable.area}}</h1>
                        <div class="target-figures"></div>
                    </div>
                </div>
                <div class="title-sections">
                    <div class="target midLeft">
                        <h1 class="">{{viewable.area}}</h1>
                        <div class="target-figures"></div>
                    </div>
                </div>
                <div class="title-sections">
                    <div class="target midRight">
                        <h1 class=""></h1>
                    </div>
                </div>
                <div class="title-sections">
                    <div class="target btmLeft">
                        <h1 class="">{{viewable.area}}</h1>
                        <div class="target-figures"></div>
                    </div>
                </div>
                <div class="title-sections">
                    <div class="target btmRight">
                        <h1 class=""></h1>
                    </div>
                </div>
                <div class="title-sections-mobile">
                    <div class="target mobile">
                        <h1 class="">{{viewable.area}}</h1>
                        <div class="target-figures">
                            <h2 class="leave"><span class="percent"></span><span class="number"></span></h2>
                            <h2 class="remain"><span class="percent"></span><span class="number"></span></h2>
                        </div>
                    </div>
                </div>         
            </div>
            <svg id="svg">
                <line id="line"/>
            </svg>
            <div class="map-inner">
                <ul id="" class="hex-grid clear">
                    <li class="" ng-repeat="x in points" ng-style="{{x.style}}">
                        <div class="hexagon style-{{x.status}}" data-id="{{x.id}}"></div>
                    </li>
                </ul>
            </div>
            <div class="map-keys">
                <div class="map-key-single" ng-repeat="k in mapKeys">
                    <p>{{k.legend}}</p>
                    <ul class="hex-grid clear">
                        <li class="" style="padding: 16px 14px;">
                            <div class="hexagon style-{{k.colour}}"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var app = angular.module('myApp', []);
    app.controller('myController', ['$scope', '$window', '$http', function ($scope, $window, $http) {
        $http.get("https://multimedia.thenational.ae/assets/visual_assets/uk_brexit_visual/data.csv")
            .then(function (response) {
                $scope.src = processData(response.data);
                $window.src = $scope.src;
                console.log($scope.src);
            }).then(function () {
                $http.get("https://multimedia.thenational.ae/assets/visual_assets/uk_brexit_visual/map.csv")
                    .then(function (response) {
                        $scope.points = processMap(response.data);
                        let gridWidth = 600;
                        let gridRowLength = 30;
                        let pointWidth = Math.max((gridWidth / gridRowLength) / 2);
                        let pointHeight = Math.max(pointWidth * 1.13333);
                        $scope.mapKeys = [
                            {
                                "legend": "Remain",
                                "colour": 0,
                            },
                            {
                                "legend": "Leave",
                                "colour": 1,
                            },
                        ];
                        $scope.points.forEach(function (point) {
                            point['style'] = { 'padding': pointHeight + 'px ' + pointWidth + 'px ' };
                            if (point['row'] > 1) {
                                point['style']['margin-top'] = '-' + ((pointHeight / 2) - 1) + 'px';
                            }
                            if ((point['row'] % 2) == 0) {
                                point['style']['transform'] = 'translateX(50%) rotate(-60deg) skewY(30deg)';
                            }
                        });
                        $('.hex-grid').css('width', gridWidth + 'px');
                        $window.points = $scope.points;
                        $scope.viewableVote = "Hover to see Vote";
                        console.log($scope.points);
                    });
            });

        $scope.updateViewable = function (id, origin, target) {
            $scope.viewable = $scope.points[id];
            target = '.'+target;
            console.log(target);
            $('.target').css('visibility', 'hidden');
            
            if($scope.viewable.status != 2){
                $(target).css('visibility', 'visible');
                let targetInfoBox = $(target + ' h1');
                targetInfoBox.show();
                targetInfoBox.css('color', getStatusColor($scope.viewable.status));
                let targetFigures = $(target + ' .target-figures');
                targetFigures.empty();
                targetFigures.append("<h2 class='leave'>Leave voters <span class='percent'></span><span class='number'></span></h2>");
                targetFigures.append("<h2 class='remain'>Remain voters <span class='percent'></span><span class='number'></span></h2>"); 
                let percentages = getPercentage($scope.viewable.leave, $scope.viewable.remain);
                $('.target-figures .leave span.percent').html(percentages.leave + '%');
                $('.target-figures .remain span.percent').html(percentages.remain + '%');
                $('.target-figures .leave span.number').html(numberWithCommas($scope.viewable.leave) + ' Votes');
                $('.target-figures .remain span.number').html(numberWithCommas($scope.viewable.remain) + ' Votes');
                // line.show();
                // let x1 = targetTitle.offset().left + targetTitle.width();
                // let y1 = targetTitle.offset().top + targetTitle.height();
                // let x2 = originHex.offset().left + (originHex.width()/2);
                // let y2 = originHex.offset().top + (originHex.height()/2);
                // line.attr('x1',x1).attr('y1',y1).attr('x2',x2).attr('y2',y2);
            }
        }
    }]);

    $(function () {
        $(".visual-map").on("mouseover", ".hexagon", function (event) {
            let gridItemStatus = $(this).data('id');
            angular.element('#myController').scope().updateViewable(gridItemStatus, event.target, getRegionTarget(points[gridItemStatus].region));
            angular.element('#myController').scope().$apply();
        });
    });

    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function getPercentage(leave, remain){
        let total = parseInt(leave) + parseInt(remain);
        return {
            'leave' : (parseFloat(parseInt(leave) / total) * 100).toFixed(1),
            'remain' : (parseFloat(parseInt(remain) / total) * 100).toFixed(1),
        }
    }

    function getStatusColor(status){
        switch(status){
            case 0: return '#ffcb00';
            case 1: return '#0089da';
            default: return '#ffcb00'; 
        }
    }

    function getRegionTarget(region){
        if ($(window).width() <= 768) {
            return 'mobile';
        } else {
            switch(region){
                case 'East': return 'midLeft';
                case 'Wales': return 'midLeft';
                case 'Scotland': return 'topLeft';
                case 'South West': return 'btmLeft';
                case 'South East': return 'midLeft';
                case 'London': return 'midLeft';
                case 'East Midlands': return 'midLeft';
                case 'West Midlands': return 'midLeft';
                case 'North West': return 'midLeft';
                case 'North East': return 'midLeft';
                case 'Northern Ireland': return 'midLeft';
                case 'Yorkshire and The Humber': return 'midLeft';
                default: return 'midLeft'; 
            }
        }
    }

    function DataPoint(id, region, area, vote, remain, leave) {
        this.id = id;
        this.region = region;
        this.area = area;
        this.vote = vote;
        this.remain = remain;
        this.leave = leave;
    }

    function MapPoint(id, row, column, status, remain, leave, area, region, style, vote) {
        this.id = id;
        this.row = row;
        this.column = column;
        this.status = status;
        this.remain = remain;
        this.leave = leave;
        this.area = area;
        this.region = region;
        this.style = style;
        this.vote = vote;
    }

    function processData(allText) {
        let allTextLines = allText.split(/\r\n|\n/);
        let headers = allTextLines[0].split(',');
        let count = 0;
        let dataPoints = [];
        for (let i = 1; i < allTextLines.length; i++) {
            let data = allTextLines[i].split(',');
            if (data.length == headers.length) {
                let dataPoint = new DataPoint(count, undefined, undefined, undefined, undefined, undefined);
                for (let j = 0; j < headers.length; j++) {
                    dataPoint[headers[j]] = data[j];
                }
                dataPoints.push(dataPoint);
                count++;
            }
        }
        return dataPoints;
    }

    function processMap(data) {
        console.log(src[0]['region'], src[0]['area']);
        let lines = data.split(/\r\n|\n/);
        let points = [];
        let count = 0;
        for (let i = 0; i < lines.length; i++) {
            let line = lines[i];
            let cols = line.split(',');
            for (let j = 0; j < cols.length; j++) {
                let id = count;
                let row = i + 1;
                let column = j + 1;
                let mapPoint = new MapPoint(id, row, column, 2, undefined, undefined, undefined, undefined, 2, undefined);
                if (cols[j] != 'X') {
                    let index = cols[j];
                    let vote = 'r';
                    let remain = 1000;
                    let leave = 999;
                    let area = "somewhere";
                    let region = "central";
                    let style, status;
                    if (src[index]) {
                        vote = src[index]['vote'];
                        remain = src[index]['remain'];
                        leave = src[index]['leave'];
                        area = src[index]['area'];
                        region = src[index]['region'];
                        style, status;
                    }
                    if (vote == 'r') {
                        vote = 'Remain';
                        style = status = 0;
                    } else if (vote == 'l') {
                        vote = 'Leave';
                        style = status = 1;
                    }
                    mapPoint = new MapPoint(id, row, column, status, remain, leave, area, region, style, vote);
                }
                count++;
                points.push(mapPoint);
            }
        }
        return points;
    }

</script>
</html>